.grid {
  width:80%;
  margin:auto;
  margin-bottom: 5%;
}

.grid-item {
  width: 20%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.grid-item:hover {
  background-color:#f7ddd2;
  background-blend-mode: lighten;
  color:#cba045;
}

.grid-item:hover h2 {
  visibility: visible;
}

.grid-item h2 {
  visibility: hidden;
  text-align: center;
  width:100%;
}

.centered {
  position: relative;
	top: 45%;
	transform: translateY(-45%);
}

.grid-item-large-square {
  width: 59%;
  background-image: url('../img/mockup.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item-half-large-square {
  width: 59%;
  background-image: url('../img/invitation.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item-small-pano {
  width: 39%;
  background-image: url('../img/ski.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item-below-pano {
  width: 39%;
  background-image: url('../img/argory.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item-small-square {
  width: 39%;
  background-image: url('../img/nix.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item-small-square-birds {
  width: 39%;
  background-image: url('../img/birds.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item-engagement {
  width: 59%;
  background-image: url('../img/engagement.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item-adele {
  width: 39%;
  background-image: url('../img/adele.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item-boat {
  width: 28.5%;
  background-image: url('../img/shackletons.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-item-merchant {
  width: 28.5%;
  background-image: url('../img/merchant.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.gutter-sizer {
  width: 2%;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .grid-item h2 {
    font-size:8px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .grid-item h2 {
    font-size:12px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .grid-item h2 {
    font-size:16px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .grid-item h2 {
    font-size:20px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .grid-item h2 {
    font-size:24px;
  }
}
